.tfirst-column {
    display: table-cell;
    vertical-align: inherit;
    z-index: 2;
}
tbody tr.tableRow:nth-child(even),tfoot tr:nth-child(even) {background-color: #eeeeee;}
tbody tr.tableRow.bgred:nth-child(even) {background-color: #cc00002e;}
tbody tr.tableRow.bgred:nth-child(odd) {background-color: #ff00002e;}
tbody tr.tableRow.bggreen:nth-child(even) {background-color: #00cc002e;}
tbody tr.tableRow.bggreen:nth-child(odd) {background-color: #00ff002e;}

td.head {
    position:relative;
    height:100px;
    width:35px;
}
td.head div.ca_val {
    position:relative;
    margin:45px auto auto auto;
    transform: rotate(-90deg);
    width:35px;
}
td.head:nth-child(2n+3) {background: #eeeeee}
/*td.head div.thead {*/
/*    position:absolute;*/
/*    top:0px;*/
/*    left:0px;*/
/*    height:100px;*/
/*    width:35px;*/
/*}*/
td.firstcol {
    min-width:400px;
}

td.head div.dataTables_sizing div.thead {
    height:0;
}
td.head div.dataTables_sizing div.ca_val {
    margin:auto;
}
tr.tableRow.bgred:nth-child(even) td.firstcol {background-color: #f7d1d1;z-index:16;}
tr.tableRow.bgred:nth-child(odd) td.firstcol {background-color: #ffd1d1;z-index:16;}
tr.tableRow.bggreen:nth-child(even) td.firstcol {background-color: #d1f7d1;z-index:16;}
tr.tableRow.bggreen:nth-child(odd) td.firstcol {background-color: #d1ffd1;z-index:16;}


.dataTables_sizing div.thead {background: none !important;}

td.ca {
    padding:0 !important;
}

tr.toprow .bordercol, tr.initrow .bordercol, tr.tableRow .bordercol, thead tr th.bordercol {
    border-right: 1px solid #333333 !important;
}
.initrow td.ca:nth-child(even) div.thead {background: #0000000a;}
.initrow td.ca:nth-child(odd) div.thead {background: unset;}
tr.toprow {background:#eeeeee;}

td.ca.changed {background: #0000ff1c;}
/* Alternate coloring on columns */
/*tr.toprow td:nth-child(odd){background:#dddddd;}*/
/*tr.toprow td:nth-child(even){background:#eeeeee;}*/
/*tbody td.ca:nth-child(odd),tfoot td.ca:nth-child(odd) {background: #0000000f;}*/
/*tbody td.ca:nth-child(even),tfoot td.ca:nth-child(even) {background: unset;}*/
table *{font-family: proxima-nova, sans-serif;}

.x{height: 19px;width: 19px;background-color: #083fbb;margin: auto;    margin-top: 2px; margin-bottom: 2px;}
/*.x-sub{height: 19px;width: 19px;background-color: #083fbb;margin: auto;    margin-top: 2px; margin-bottom: 2px;}*/
.o{height: 19px;width: 19px;margin: auto;    margin-top: 2px; margin-bottom: 2px;}
.o, .x {
    filter: drop-shadow(1px 1px 2px grey);
}
.bgred .o,.bgred .x {
    filter: drop-shadow(1px 1px 2px #606060);
}
input {
    filter: drop-shadow(1px 1px 2px #606060);
}
input[type="text"] {
    text-align: right;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    filter: drop-shadow(1px 1px 1px #606060);
    max-width: 30px;
}

.table-bordered td, .table-bordered th {border: unset}
.table-bordered td.bordertop {
    border-top: 1px solid #b5b5b5;
}
.table-bordered td.borderbot {
    border-bottom: 1px solid #d0d0d0;
}
td.bgred{background-color: #ff00008c}
td.bgred.changed{background-color: #0000cc8c}
.bgred .x, .bgred .x-sub{ background-color: #000000}
/*.bgred .x:hover, .bgred .x-sub:hover{cursor:hand;}*/
/*.bgred .o:hover{cursor:hand;}*/
.o:hover, .x:hover{cursor:pointer;}
.input .o, .input .x{
    cursor: not-allowed;
}
.input{
    cursor: not-allowed;
}
table:not(.DTFC_Cloned) tr.output {
    /*filter: drop-shadow(1px 1px 0px grey);*/
}
table:not(.DTFC_Cloned) tr.input{
    /*filter: drop-shadow(1px 1px 1px black);*/
    filter: blur(.5px);
}
thead{    border-bottom: 1px solid #00000073;}
thead th{    font-weight: 700;}
.table-bordered {border: 0px solid #dee2e6;}
.fcol{font-size:12px;}
.fcol div{display: inline-block;width: 329px;}
button {
    border-radius:3px;
    padding: 2px 7px;
    border-color: grey;
}

td.bgred.changed.pre-match {
background-color: #ff00008c;
}

table.dataTable tbody td.notesCell {
    min-width: 250px;
    padding: 1px 1px;
}

table td.notesCell div {
    max-height: 33px;
}
table td.notesCell div textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    filter: drop-shadow(1px 1px 1px #606060);
    width: 100%;
}